/* Aligns items in child element
example:
  <div class="aligner">
    <div class="
        aligner__xs--center aligner__xs--middle
        aligner__md--left aligner__md--top
    ">center &amp; middle</div>
  </div>
*/
.aligner {
    display: flex;

    &__xs {
        &--center {
            margin-left: auto;
            margin-right: auto;
        }
        &--left {
            margin-right: auto;
        }
        &--right {
            margin-left: auto;
        }
        &--top {
            margin-bottom: auto;
        }
        &--bottom {
            margin-top: auto;
        }
        &--middle {
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    @include mq('min-width', $vp-small) {
        &__sm {
            &--center {
                margin-left: auto;
                margin-right: auto;
            }
            &--left {
                margin-left: initial;
                margin-right: auto;
            }
            &--right {
                margin-left: auto;
                margin-right: initial;
            }
            &--top {
                margin-top: initial;
                margin-bottom: auto;
            }
            &--bottom {
                margin-top: auto;
                margin-bottom: initial;
            }
            &--middle {
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }

    @include mq('min-width', $vp-medium) {
        &__md {
            &--center {
                margin-left: auto;
                margin-right: auto;
            }
            &--left {
                margin-left: initial;
                margin-right: auto;
            }
            &--right {
                margin-left: auto;
                margin-right: initial;
            }
            &--top {
                margin-top: initial;
                margin-bottom: auto;
            }
            &--bottom {
                margin-top: auto;
                margin-bottom: initial;
            }
            &--middle {
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }

    @include mq('min-width', $vp-large) {
        &__lg {
            &--center {
                margin-left: auto;
                margin-right: auto;
            }
            &--left {
                margin-left: initial;
                margin-right: auto;
            }
            &--right {
                margin-left: auto;
                margin-right: initial;
            }
            &--top {
                margin-top: initial;
                margin-bottom: auto;
            }
            &--bottom {
                margin-top: auto;
                margin-bottom: initial;
            }
            &--middle {
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }

    @include mq('min-width', $vp-xlarge) {
        &__xl {
            &--center {
                margin-left: auto;
                margin-right: auto;
            }
            &--left {
                margin-left: initial;
                margin-right: auto;
            }
            &--right {
                margin-left: auto;
                margin-right: initial;
            }
            &--top {
                margin-top: initial;
                margin-bottom: auto;
            }
            &--bottom {
                margin-top: auto;
                margin-bottom: initial;
            }
            &--middle {
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }
}
