$shadow-caption: 3px 1px 5px 0px rgba(50, 50, 50, 0.25);

$gradient-blue: linear-gradient(to bottom, #4eb5e5 0%, #389ed5 100%);

$c-black: #333;
$c-black--light: #444;
$c-white: #f2f2f2;
$c-mouse-gray: #fcfcfc;
$c-azure: #ffefd5;
$c-blue: #2b8bc6;
$c-blue--dark: #187dbc;

$ca-glass: rgba(255, 255, 255, 0.3);
$ca-white: rgba(255, 255, 255, 0.8);
$ca-gray: rgba(0, 0, 0, 0.4);
$ca-gray--light: rgba(0, 0, 0, 0.2);

/* reboot colors */
$body-bg: $c-azure !default;
$body-color: $c-black !default;
$abbr-border-color: $c-mouse-gray !default;
$text-muted: $c-mouse-gray !default;
$link-color: $c-blue !default;
$link-hover-color: darken($link-color, 15%) !default;
$table-bg: transparent !default;

/* reboot vars */
$table-cell-padding: 0.75rem !default;
$enable-hover-media-query: false !default;

/* View port width breakpoints */
$vp-xsmall: 480px;
$vp-small: 768px;
$vp-medium: 992px;
$vp-large: 1170px;
$vp-xlarge: 1400px;

/* typography sizes */
$font-family-base: -apple-system, BlinkMacSystemFont, 'Copse', serif !default;

$font-size-root: 16px !default;

$font-size-base: 1rem !default;
$font-size-lg: 1.25rem !default;
$font-size-sm: 0.875rem !default;
$font-size-xs: 0.75rem !default;

$line-height-base: 1.5 !default;

$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;
