.banner {
    background-color: $c-white;

    &__header {
        font-size: $font-size-h2;
        color: $c-blue;
    }

    &__text {
        font-size: px2rem(17);
        font-weight: bold;
        color: $c-light-black;
    }

    &__pic {
        picture,
        img {
            width: initial;
        }
    }
}
