.drop-zone {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  font-family: 'Copse', serif;
  margin: 100px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);

  p {
    font-weight: bold;
  }
}
