@import '../global/variables';

body {
  margin: 2rem;
  font-family: 'Copse', serif;
  font-size: $font-size-base;
  background-image: url(../img/background.jpg);
  background-size: cover;
}

header {
  h1 {
    font-size: 6rem;
    font-family: 'Copse', serif;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa,
      0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
      0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
      0 20px 20px rgba(0, 0, 0, 0.15);
  }
}

.my-form {
  margin-bottom: 10px;
}

#gallery {
  margin-top: 10px;
}

#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

.button {
  width: 180px;
  height: 40px;
  background: $gradient-blue;
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid $c-blue;
  color: $c-white;
  font-weight: 600;
  text-shadow: 1px 1px 1px $ca-gray;
  font-size: $font-size-base;
  padding-top: 6px;
  text-align: left;
  text-indent: 1rem;
  box-shadow: 0px 3px 0px 0px $ca-gray--light;
  cursor: pointer;
}

.button:active {
  box-shadow: 0px 2px 0px 0px $ca-gray--light;
  top: 1px;
}

.button:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid $c-blue--dark;
  border-bottom: 20px solid $c-blue--dark;
  border-left: 16px solid transparent;
  border-right: 20px solid $c-blue--dark;
  position: absolute;
  opacity: 0.6;
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;
}

#fileElem {
  display: none;
}
