@import '../global/variables';

.result {
  border: 1px solid $c-black;
  background-color: $ca-white;
  font-size: $font-size-base;

  &__header {
    border-bottom: 1px double $c-black;
    background-color: $c-blue--dark;
    color: white;

    th {
      text-align: center;
    }
  }

  &__row {
    border-bottom: 1px solid $c-black;
  }

  &__item {
    border-right: 1px solid $c-black;
    padding: 0.3rem 1rem;

    &--size {
      text-align: right;
    }
  }

  &__action {
    padding: 0.3rem 1rem;
  }
}
