/*
`@include size(50px, 50px);`
*/
@mixin size($width, $height) {
    width: $width;
    height: $height;
}

/*
Calculates font size in rem doing a simple "/16" calculation.
`@include px2rem(14);`
*/
@mixin px2rem($px) {
    font-size: $px/16+rem;
}

/*
Font properties change - style, weigth, size, height
`@include font-props(normal, normal, 12, 1.2em);`
*/
@mixin font-props($font-style, $font-weight, $font-size, $line-height) {
    @if type-of($font-size) != 'number' {
        @error "font-size is not number: `#{$font-size}`"
    }

    font-style: $font-style;
    font-weight: $font-weight;
    @include px2rem($font-size);
    line-height: $line-height;
}

/*
Creates a @media query.
`@include mq('min-width', $vp-small) {`
`.elem { display: block; }`
`}`
*/
@mixin mq($type, $viewport1, $viewport2: null) {
    $min: 'min-width';
    $max: 'max-width';

    @if $type == $min {
        @media screen and ($min: $viewport1) {
            @content;
        }
    } @else if $type == $max {
        @media screen and ($max: $viewport1) {
            @content;
        }
    } @else {
        @media screen and ($min: $viewport1) and ($max: $viewport2) {
            @content;
        }
    }
}

/*
Creates a @font-face in CSS while keeping in mind the $path
Creates .eot, .eot?#iefix, .woff, .ttf, .svg sources for the font. Usage:
    @include font-face(
        'VWHead',
        '../font/VWHeadWeb-Regular'
    );
*/
@mixin font-face($font-family, $path, $weight: normal, $style: normal) {
    @font-face {
        font-family: $font-family;
        font-weight: $weight;
        font-style: $style;

        src: url('#{$path}.eot');
        src: url('#{$path}.eot?#iefix') format('embedded-opentype'),
             url('#{$path}.woff') format('woff'),
             url('#{$path}.ttf') format('truetype'),
             url('#{$path}.svg##{$font-family}') format('svg');
    }
}

/*
Fluid Image
`@include img-fluid()`
*/
@mixin img-fluid($display: block) {
    display: $display;
    max-width: 100%;
    height: auto;
}

/*
Media query for retina background images
`@include img-retina() {`
`  background-size: contain;`
`  background-image: url(images/car@2x.png);`
`}`
*/
@mixin img-retina() {
    @media
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
        @content
    }
}

